* {
  box-sizing: border-box;
}

/*Float two and two columns side by side*/
.column {
  float: left;
  width: 99%;
  padding: 0 10px;
}

/*Remove extra left and right margins, due to padding*/
.row {
  margin: 0 -5px;
}

/*Clear floats after the columns*/
.row::after {
  content: "";
  display: table;
  clear: both;
}

.degrees {
  background-color: rgba(95, 158, 160, 0.425);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.356);
  border-radius: 0.5rem;
  padding: 1.5rem;
  padding-bottom: 0rem;
  margin: 0.5rem;
}


.degrees h2 {
  text-decoration: underline;
  color: black;
  font-size: 1.5rem;
  padding: 1rem;
  background-color: rgb(245, 245, 245);
  border-radius: 0.5rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.452);
}

.column_cards {
  margin-top: 6rem;
}


input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

button {
  background-color: rgb(95, 160, 122);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border: solid 2px black;
}

button:hover {
  opacity: 0.6;
  border: solid 2px black;
}

.imagecontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

image.avatar {
  width: 40%;
  border-radius: 50%;
}

.forgot_password {
  padding: 1rem;
  padding-bottom: 2rem;
}

span.password {
  float: right;
  padding-top: none;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/*Responsive columns*/
@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
